<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="auth-form">
  <h2 class="auth-form__title mat-h2 text-center">Password recovery</h2>
  <p class="auth-form__sub-title text-center">We will send a link to reset your password to your email address</p>

  <base-form-input
    [control]="form?.email"
    [icon]="'envelope'"
    [inputType]="InputType.email"
    [placeholder]="'INPUT_NAME.EMAIL' | translate"
    [required]="true"
    autocomplete="off"
  ></base-form-input>

  <button class="auth-form__button" color="primary" mat-flat-button>{{ 'BUTTON_NAME.SUBMIT' | translate }}</button>

  <div class="auth-form__bottom-text">
    Back to
    <a [routerLink]="'/auth/log-in'" class="link">{{ 'BUTTON_NAME.LOGIN' | translate }}</a>
  </div>
</form>
