<label>
  <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel" (click)="onLabelClicked()">
    <mat-label *ngIf="withLabel">{{ placeholder }}</mat-label>
    <input
      matInput
      [matDatepicker]="datePicker"
      [formControl]="formControl"
      [placeholder]="placeholder"
      [required]="required"
      [min]="minDate"
      [max]="maxDate"
    />
    <mat-datepicker-toggle matSuffix [for]="dp3">
      <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
    </mat-datepicker-toggle>

    <mat-datepicker #dp3="matDatepicker" disabled="false" [startView]="startViewMode" [startAt]="startDate">
      <mat-datepicker-actions>
        <button mat-flat-button color="accent" matDatepickerCancel>Cancel</button>
        <button mat-flat-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>

    <mat-error *ngIf="control?.invalid && errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</label>
