<div class="file-uploader">
  <mat-label *ngIf="withLabel">{{ placeholder }}</mat-label>
  <div
    class="file-uploader__panel"
    dndFile
    (fileDropped)="fileChangeHandler($event)"
    [class.error]="isFileError"
    (fileDragleave)="fileDragleave.emit($event)"
    (fileDragover)="fileDragover.emit($event)"
    [style.height]="previewHeight + 'px'"
    [style.width]="previewWidth + 'px'"
    [style.display]="multiple || (!multiple && !selectFile.length) ? null : 'none'"
  >
    <input
      #fileInput
      type="file"
      [accept]="fileType"
      [multiple]="multiple"
      class="file-uploader__input"
      (change)="fileChangeHandler(getFiles($event))"
    />
    <p class="file-uploader__title" *ngIf="placeholder">{{ placeholder | translate }}</p>
  </div>
  <ul *ngIf="selectFile?.length" class="file-uploader__list">
    <li
      *ngFor="let file of selectFile; let idx = index"
      class="file-uploader__file-item"
      [class.error]="isFileMaxSize(file) || filesWithError.has(file.name)"
      [style.height]="previewHeight + 'px'"
      [style.width]="previewWidth + 'px'"
    >
      <mat-spinner class="file-uploader__loader" *ngIf="filesOnLoading.has(file.name)" [diameter]="20"></mat-spinner>
      <img
        class="file-uploader__preview"
        [width]="previewWidth"
        [height]="previewHeight"
        [src]="getNativeFileUrl(file)"
        [alt]="file.name"
      />
      <div class="file-uploader__file-actions" [ngClass]="actionsPositionClasses" *ngIf="!filesOnLoading.has(file.name)">
        <button *ngIf="!multiple" class="file-uploader__action" [color]="actionsColor" mat-icon-button (click)="chooseAnotherFile()">
          <mat-icon svgIcon="refresh"></mat-icon>
        </button>
        <button class="file-uploader__action" [color]="actionsColor" mat-icon-button (click)="removeFile(idx, $event)">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
      </div>
    </li>
  </ul>
  <mat-error class="file-uploader__error" *ngIf="isFileError">
    {{ fileErrorMessage }}
  </mat-error>
</div>
