.file-uploader {
  --indent: 1.6rem;
  --radius: 0.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0.25em 0;
  padding-bottom: 1.3438em;

  &__label {
    display: inline-block;
    margin: 0 0 0.4rem;
    font: var(--typography-body-16);
    color: var(--color-black);
    vertical-align: top;
  }

  &__panel {
    color: var(--color-grey);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed currentColor;
    border-radius: var(--radius);
    text-align: center;
    padding: 1rem;
    transition-duration: 0.5s;
    transition-property: color, border-color;

    &.error {
      border: 2px solid var(--color-red);
    }

    &:not(&.error):hover,
    &.file-over {
      color: var(--color-electric-blue);
    }

    &:not(:last-child) {
      margin-right: var(--indent);
    }
  }

  &__icon,
  &__title,
  &__hint {
    color: var(--color-dark-grey);
    transition: color 0.3s;

    :hover > & {
      color: var(--color-electric-blue);
    }

    .error & {
      color: var(--color-red);
    }
  }

  &__title,
  &__hint {
    font-size: 1.2rem;
    margin: 0;
  }

  &__icon {
    display: inline-block;
    margin-bottom: var(--s-2);
  }

  &__title {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
  }

  &__input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__panel,
  &__list {
    flex-shrink: 0;
  }

  &__list {
    display: flex;
    position: relative;
  }

  &__selected {
    margin-bottom: 1rem;
  }

  &__error {
    position: absolute;
    font-size: 75%;
    margin-top: 0.6667em;
    padding: 0 1em;
    line-height: 1.4;
    bottom: 0;
  }

  &__file-item {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    border-radius: var(--radius);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
      border-radius: inherit;
      border: 2px solid transparent;
    }

    &:not(:first-child) {
      margin-left: 1.6rem;
    }

    &.error {
      color: var(--color-red);

      &::before {
        border-color: var(--color-red);
      }
    }
  }

  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__preview {
    display: flex;
    object-fit: cover;
    border-radius: var(--radius);
  }

  &__file-name {
    padding-right: 4rem;
  }

  &__file-actions {
    position: absolute;
    display: flex;

    &_x-start {
      left: 0;
    }

    &_x-end {
      right: 0;
    }

    &_y-start {
      top: 0;
    }

    &_y-end {
      bottom: 0;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
