<div class="file-uploader">
  <div
    (fileDragleave)="fileDragleave.emit($event)"
    (fileDragover)="fileDragover.emit($event)"
    (fileDropped)="fileChangeHandler($event)"
    [class.error]="isFileError"
    [class.selected]="selectFile?.length"
    [style.height]="previewHeight + 'px'"
    [style.width]="previewWidth + 'px'"
    class="file-uploader__panel"
    dndFile
  >
    <input
      #fileInput
      (change)="fileChangeHandler(getFiles($event))"
      [accept]="fileType"
      [multiple]="multiple"
      class="file-uploader__input"
      type="file"
    />
    <mat-icon [svgIcon]="icon" class="file-uploader__icon"></mat-icon>
    <ng-container *ngIf="selectFile?.[0] as file">
      <img [src]="getNativeFileUrl(file)" alt="Image" class="file-uploader__preview" />
      <div *ngIf="!filesOnLoading.has(file.name)" [ngClass]="actionsPositionClasses" class="file-uploader__file-actions">
        <button (click)="removeFile(0, $event)" [color]="actionsColor" class="file-uploader__action" mat-icon-button>
          <mat-icon svgIcon="trash"></mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <div class="file-uploader__info">
    <p *ngIf="placeholder" class="file-uploader__title">{{ placeholder | translate }}</p>
  </div>
  <mat-error *ngIf="isFileError" class="file-uploader__error">
    {{ fileErrorMessage }}
  </mat-error>
</div>
