.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 4rem;

  &_hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    pointer-events: none;
    opacity: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
}
