.modal {
  position: relative;
  padding: 2rem;

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0;
  }

  & &__title {
    font-weight: var(--fw-medium);
    font-size: 1.8rem;
    padding: 0;
    margin-bottom: 2rem;

    &::before {
      content: none;
    }
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 3rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__template {
    font-size: 1.3rem;
    margin-bottom: 1.5em;
  }

  &__actions {
    display: flex;
    margin-top: 0.8rem;
    justify-content: center;
    gap: 2rem;
  }
}
