<form (ngSubmit)="submit()" class="change-pass">
  <base-form-input
    [control]="form?.currentPassword"
    [icon]="'lock'"
    [inputType]="InputType.password"
    [placeholder]="'INPUT_NAME.CURRENT_PASSWORD' | translate"
    [required]="true"
    autocomplete="new-password"
  ></base-form-input>
  <base-form-input
    [control]="form?.password"
    [icon]="'lock'"
    [inputType]="InputType.password"
    [placeholder]="'INPUT_NAME.NEW_PASSWORD' | translate"
    [required]="true"
    autocomplete="new-password"
  ></base-form-input>
  <base-form-input
    [control]="form?.repeatPassword"
    [icon]="'lock'"
    [inputType]="InputType.password"
    [placeholder]="'INPUT_NAME.CONFIRM_NEW_PASSWORD' | translate"
    [required]="true"
    autocomplete="new-password"
  ></base-form-input>
  <button [color]="'primary'" class="change-pass__button" mat-flat-button>Save changes</button>
</form>
