<aside [class.side-menu_collapsed]="isCollapsed" class="side-menu">
  <div class="side-menu__inner">
    <header #headerEl class="side-menu__header">
      <a routerLink="/">
        <mat-icon class="side-menu__logo" svgIcon="logo"></mat-icon>
      </a>
      <button
        *ngIf="false"
        (click)="toggleSize($event)"
        [style.top.px]="headerEl.offsetHeight + 13"
        class="side-menu__size-button"
        mat-icon-button
      >
        <mat-icon class="side-menu__size-button-icon">{{ collapseButtonIcon }}</mat-icon>
      </button>
    </header>

    <mat-divider class="side-menu__divider"></mat-divider>

    <button (click)="openResumeModal()" class="side-menu__add-btn" mat-flat-button [color]="'primary'">
      <mat-icon [svgIcon]="'plus-small'"></mat-icon>
      Create resume
    </button>
    <nav class="side-menu__navigation">
      <ng-container *ngFor="let item of navItems">
        <ng-container *showForRoles="item.roles">
          <ng-container *hasPermissions="item.permissions">
            <ng-container *ngIf="!item?.children?.length">
              <ng-container *ngTemplateOutlet="navItemTemplate; context: { $implicit: item }"></ng-container>
            </ng-container>
            <mat-expansion-panel
              (click)="isCollapsed = false"
              *ngIf="item?.children?.length"
              [expanded]="!isCollapsed"
              class="side-menu__expansion-panel"
            >
              <mat-expansion-panel-header class="side-menu__expansion-panel-header">
                <span class="side-menu__item-content">
                  <mat-icon
                    *ngIf="item.icon"
                    [matTooltip]="isCollapsed ? (item.title | translate) : null"
                    [svgIcon]="item.icon"
                    class="side-menu__item-icon"
                    matTooltipPosition="right"
                  ></mat-icon>
                  <span class="side-menu__item-text">{{ item.title | translate }}</span>
                </span>
              </mat-expansion-panel-header>

              <nav class="side-menu__navigation side-menu__navigation_inner">
                <ng-container *ngFor="let child of item.children">
                  <ng-container *showForRoles="item.roles">
                    <ng-container *hasPermissions="child.permissions">
                      <ng-container *ngTemplateOutlet="navItemTemplate; context: { $implicit: child, inner: true }"></ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </nav>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </ng-container>
    </nav>

    <footer class="side-menu__footer">
      <div class="side-menu__actions">
        <a class="side-menu__action" mat-button (click)="logout()">
          <mat-icon [svgIcon]="'sign-out'" class="side-menu__item-icon"></mat-icon>
          Log Out
        </a>
      </div>
    </footer>
  </div>

  <ng-template #navItemTemplate let-inner="inner" let-item>
    <a
      [class.side-menu__item_inner]="inner"
      [routerLink]="item.path"
      class="side-menu__item"
      mat-button
      routerLinkActive="side-menu__item_active"
    >
      <span class="side-menu__item-content">
        <mat-icon
          [matTooltip]="isCollapsed ? (item.title | translate) : null"
          [svgIcon]="item.icon"
          class="side-menu__item-icon"
          matTooltipPosition="right"
        ></mat-icon>
        <span class="side-menu__item-text">{{ item.title | translate }}</span>
      </span>
    </a>
  </ng-template>
</aside>
