@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  --button-border-size: 0.4rem;
  --button-base-size: 3.2rem;
  --button-full-size: calc(var(--button-border-size) + var(--button-base-size));
  --main-side-padding: 4rem;
  --item-side-padding: 4rem;
  --avatar-size: 6.4rem;
  --opened-width: 32rem;
  --sidebar-side-indent: calc(var(--button-full-size) / 2);
}

.side-menu {
  $self: &;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: var(--opened-width);
  transition: width 0.3s;
  padding-right: var(--sidebar-side-indent);

  &_collapsed {
    --main-side-padding: 2rem;
    --item-side-padding: 3rem;
    --avatar-size: 4rem;
    width: 10rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    flex-grow: 1;
    width: 100%;
    padding: 1.3rem var(--main-side-padding);
    overflow: hidden;
    max-height: 100vh;
    transition: padding 0.3s;
  }

  &__header {
    padding: 4.5rem 0;
    border-bottom: 1px solid var(--color-gray);
  }

  &__logo {
    height: 2.8rem;
    width: 4rem;
  }

  &__size-button {
    --btn-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: var(--color-white);
    min-width: var(--button-full-size);
    width: var(--button-full-size);
    height: var(--button-full-size);
    background-color: var(--color-black);
    border: var(--button-border-size) solid currentColor;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }

  &__size-button-icon {
    flex-shrink: 0;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: calc(var(--main-side-padding) * -1);
    margin-right: calc(var(--main-side-padding) * -1);
    min-width: calc(var(--opened-width) - var(--sidebar-side-indent));
    overflow-y: auto;
    transition: margin 0.3s;

    &_inner {
      margin: 0;
    }

    &:not(&_inner) {
      padding-bottom: 2rem;
      padding-top: 4rem;
    }
  }

  &__item {
    position: relative;
    height: min-content;
    justify-content: flex-start;
    padding-left: var(--item-side-padding);
    padding-right: var(--item-side-padding);
    transition: padding 0.3s;

    &_active {
      color: var(--color-primary);
    }

    &_inner {
      #{$self}__item-content {
        gap: 4.3rem;
      }
    }
  }

  &__item-icon {
    flex-shrink: 0;
  }

  &__expansion-panel {
    @include mat.elevation(0);
    background-color: transparent;
    flex-shrink: 0;

    &::ng-deep {
      .mat-expansion-panel-header,
      .mat-expansion-panel-body {
        color: var(--color-black);
        font: inherit;
      }

      .mat-expansion-panel-header {
        padding: 0 var(--item-side-padding);
        transition: padding 0.3s;

        &,
        &.mat-expanded {
          height: 5rem;
        }
      }

      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }

  &__item-content {
    display: flex;
    align-items: center;
    gap: 2.3rem;
    min-height: 5rem;
  }

  &__item-text {
    opacity: 1;
    white-space: pre-wrap;
    line-height: 1.4;
    text-align: start;
    font-weight: var(--fw-medium);
    transition: opacity 0.3s;

    #{$self}_collapsed & {
      opacity: 0;
    }
  }

  &__footer {
    padding: 3rem 0 0;
    border-top: 1px solid var(--color-gray);
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.4rem;

    #{$self}_collapsed & {
      margin-bottom: 0;
    }
  }

  &__img-wrap {
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin-bottom: 1.6rem;
    transition: width 0.3s, height 0.3s;
  }

  &__user-name {
    font-weight: var(--fw-medium);
    font-size: 1.6rem;
    line-height: 140%;
    margin-bottom: 0.4rem;
  }

  &__user-role {
    font-weight: var(--fw-normal);
    line-height: 160%;
  }

  &__user-name,
  &__user-role {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;

    #{$self}_collapsed & {
      opacity: 0;
      height: 0;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.2rem;
    transition: gap 0.3s;

    #{$self}_collapsed & {
      gap: 1rem;
    }
  }
}
