:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-layout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 100vh;
  background-color: var(--color-gray);
  overflow-y: auto;

  &__side-menu {
    flex-shrink: 0;
  }

  &__content {
    padding: 4rem 4rem 4rem 2.2rem;
    width: 100%;
    margin: 0 auto;
  }
}

.secondary-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0.6rem;
}
