@import "variables/modules/breakpoints";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.auth-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__header {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }

  &__content {
    padding: 2rem;

    @media (max-width: $mobile-l) {
      padding: 1rem;
    }
  }

  &__content::ng-deep > &__router-outlet + * {
    align-items: center;
    justify-content: center;
  }
}
