<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="auth-form__form">
  <base-form-input
    [inputType]="InputType.email"
    [control]="form?.username"
    [placeholder]="'INPUT_NAME.EMAIL' | translate"
    [required]="true"
  ></base-form-input>

  <base-form-input
    [inputType]="InputType.password"
    [control]="form?.password"
    [placeholder]="'INPUT_NAME.PASSWORD' | translate"
    [required]="true"
  ></base-form-input>

  <div class="auth-form__wrap">
    <base-boolean-field [type]="BooleanFieldType.checkbox" [control]="form?.shouldRemember">
      {{ 'INPUT_NAME.REMEMBER_ME' | translate }}
    </base-boolean-field>
    <a mat-button type="button" routerLink="/auth/forgot-password">{{ 'BUTTON_NAME.FORGOT_PASSWORD' | translate }}</a>
  </div>

  <button mat-flat-button color="accent">{{ 'BUTTON_NAME.LOGIN' | translate }}</button>
</form>
