$desktop-m: 1366px;
$desktop-s: 1280px;
$tablet-l: 1024px;
$tablet-s: 768px;
$mobile-l: 640px;
$mobile-s: 480px;

// BREAKPOINTS
:root {
  --desktop-m: #{$desktop-m};
  --desktop-s: #{$desktop-s};
  --tablet-l: #{$tablet-l};
  --tablet-s: #{$tablet-s};
  --mobile-l: #{$mobile-l};
  --mobile-s: #{$mobile-s};
}
