$color-blue: #3143de;
$color-primary: $color-blue;

$color-orange: #f2870d;
$color-accent: $color-orange;

$color-red: #e91010;
$color-warn: $color-red;

$color-grey-light: #f4f5fa;
$color-bg: $color-grey-light;

$color-black: #171618;
$color-grey: #484b5b;
$color-white: #fff;
$color-green: #06bc65;
$color-input-bg: linear-gradient(0deg, rgba(255, 255, 255, 40%), rgba(255, 255, 255, 40%)), $color-grey-light;

:root {
  --color-blue: #{$color-blue};
  --color-primary: #{$color-primary};
  --color-orange: #{$color-orange};
  --color-accent: #{$color-accent};
  --color-red: #{$color-red};
  --color-warn: #{$color-warn};
  --color-black: #{$color-black};
  --color-grey: #{$color-grey};
  --color-grey-light: #{$color-grey-light};
  --color-white: #{$color-white};
  --color-bg: #{$color-bg};
  --color-input-bg: #{$color-input-bg};
  --color-green: #{$color-green};
}
