<div mat-dialog-actions class="modal-actions" *ngIf="actions">
  <ng-container *ngFor="let action of actions">
    <ng-container [ngSwitch]="action.type">
      <ng-container *ngSwitchCase="'submit'">
        <ng-container [ngSwitch]="action.style">
          <ng-container *ngSwitchCase="'stroked'">
            <button mat-stroked-button class="modal-actions__button" [color]="action.color" (click)="submitted.emit()">
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'flat'">
            <button mat-flat-button class="modal-actions__button" [color]="action.color" (click)="submitted.emit()">
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'raised'">
            <button mat-raised-button class="modal-actions__button" [color]="action.color" (click)="submitted.emit()">
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <button mat-button class="modal-actions__button" [color]="action.color" (click)="submitted.emit()">
              {{ action.name | translate }}
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'close'">
        <ng-container [ngSwitch]="action.style">
          <ng-container *ngSwitchCase="'stroked'">
            <button
              mat-stroked-button
              type="button"
              class="modal-actions__button"
              [color]="action.color"
              [mat-dialog-close]="action?.value"
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'flat'">
            <button mat-flat-button type="button" class="modal-actions__button" [color]="action.color" [mat-dialog-close]="action?.value">
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'raised'">
            <button mat-raised-button type="button" class="modal-actions__button" [color]="action.color" [mat-dialog-close]="action?.value">
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <button mat-button type="button" class="modal-actions__button" [color]="action.color" [mat-dialog-close]="action?.value">
              {{ action.name | translate }}
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
