<div *ngIf="actions" class="modal-actions" mat-dialog-actions>
  <ng-container *ngFor="let action of actions">
    <ng-container [ngSwitch]="action.type">
      <ng-container *ngSwitchCase="'submit'">
        <ng-container [ngSwitch]="action.style">
          <ng-container *ngSwitchCase="'stroked'">
            <button
              (click)="submitted.emit()"
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              class="modal-actions__button"
              mat-stroked-button
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'flat'">
            <button
              (click)="submitted.emit()"
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              class="modal-actions__button"
              mat-flat-button
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'raised'">
            <button
              (click)="submitted.emit()"
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              class="modal-actions__button"
              mat-raised-button
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <button
              (click)="submitted.emit()"
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              class="modal-actions__button"
              mat-button
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'close'">
        <ng-container [ngSwitch]="action.style">
          <ng-container *ngSwitchCase="'stroked'">
            <button
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              [mat-dialog-close]="action?.value"
              class="modal-actions__button"
              mat-stroked-button
              type="button"
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'flat'">
            <button
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              [mat-dialog-close]="action?.value"
              class="modal-actions__button"
              mat-flat-button
              type="button"
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'raised'">
            <button
              [class.full-width]="action.width === 'full'"
              [color]="action.color"
              [mat-dialog-close]="action?.value"
              class="modal-actions__button"
              mat-raised-button
              type="button"
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <button
              [class.full-width]="action.width === 'full'"
              mat-button
              type="button"
              class="modal-actions__button"
              [color]="action.color"
              [mat-dialog-close]="action?.value"
            >
              {{ action.name | translate }}
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
