<div class="user-modal">
  <div class="user-modal__row">
    <base-form-input
      class="user-modal__input"
      [control]="form?.firstName"
      [placeholder]="'INPUT_NAME.FIRST_NAME' | translate"
    ></base-form-input>
    <base-form-input
      class="user-modal__input"
      [control]="form?.lastName"
      [placeholder]="'INPUT_NAME.LAST_NAME' | translate"
    ></base-form-input>
  </div>
  <div class="user-modal__row">
    <base-form-input
      class="user-modal__input"
      [control]="form?.email"
      [placeholder]="'INPUT_NAME.EMAIL' | translate"
      [inputType]="InputType.email"
    ></base-form-input>
  </div>
  <div class="user-modal__row">
    <base-select
      class="user-modal__input"
      [control]="form?.role"
      [placeholder]="'INPUT_NAME.ROLE' | translate"
      [options]="roleOptions"
    ></base-select>
  </div>
</div>
