<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form__body">
    <base-form-input
      [control]="form?.password"
      [inputType]="InputType.password"
      [placeholder]="'INPUT_NAME.NEW_PASSWORD' | translate"
      icon="lock"
      [required]="true"
      autocomplete="new-password"
    ></base-form-input>
    <base-form-input
      [control]="form?.repeatPassword"
      [inputType]="InputType.password"
      [placeholder]="'INPUT_NAME.CONFIRM_PASSWORD' | translate"
      icon="lock"
      [required]="true"
      autocomplete="new-password"
    ></base-form-input>
  </div>
  <button mat-flat-button class="form__button">{{ 'BUTTON_NAME.SUBMIT' | translate }}</button>
</form>
