<label>
  <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel">
    <mat-label *ngIf="withLabel">{{ placeholder }}</mat-label>
    <mat-select
      [formControl]="formControl"
      [id]="id"
      [multiple]="multiple"
      [panelClass]="panelClass"
      [placeholder]="placeholder"
      [required]="required"
    >
      <mat-select-trigger *ngIf="triggerTemplate">
        <ng-container *ngTemplateOutlet="triggerTemplate; context: { $implicit: control?.value }"></ng-container>
      </mat-select-trigger>
      <ng-container *ngIf="options">
        <mat-option *ngFor="let option of options" [disabled]="option.disabled" [value]="getValue(option)">
          <ng-container *ngIf="!optionTemplate; else withTemplate">{{ getTitle(option) }}</ng-container>
          <ng-template #withTemplate>
            <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: option }"></ng-container>
          </ng-template>
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="control && control.invalid && errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</label>
