:host {
  display: flex;
}

.notification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__heading,
  &__message {
    margin-bottom: 0;
  }

  &__content {
    flex-grow: 1;
  }
}
