:host {
  display: flex;
}

.notification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__message {
    margin-bottom: 0;
    font-weight: var(--fw-medium);
    font-size: 1.6rem;
    line-height: 160%;
  }

  &__content {
    flex-grow: 1;
  }
}
