*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-main-font);
  color: var(--color-black);
  font-size: 1.6rem;
  min-width: 37.5rem;
  min-height: 100vh;
  background-color: var(--color-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;

  b, strong {
    font-weight: var(--fw-medium);
  }

  i, em {
    font-style: italic;
  }
}
