*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-main-font);
  color: var(--color-black);
  font-size: 1.6rem;
  min-width: 68rem;
  min-height: 100vh;
  background-color: var(--color-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;

  @media (min-device-pixel-ratio: 2) and (max-width: $desktop-m) {
    text-size-adjust: none;
    zoom: 0.92;
  }

  b, strong {
    font-weight: var(--fw-medium);
  }

  i, em {
    font-style: italic;
  }
}
